<!doctype html>
<html>
<head>
    <title>VG</title>
</head>

<body>
Submit a Picture:<br>
<form method="POST" id="pic_input" enctype="multipart/form-data">
    <p>
        {% for method in methods %}
            <input type="radio" name="method" value="{{method}}"> {{method}}<br>
        {% endfor %}
    </p>
    <p>
        {% for input, params in inputs.items() %}
            <p>{{input}}</p>
            <input type="range" min="{{params.min}}" max="{{params.max}}" value="{{params.val}}" id="{{input}}" name="{{input}}">
        {% endfor %}
    </p>
    <input type="file" id="picture" name="picture" accept="image/png, image/jpeg" /><br>
</form>

<button type="submit" form=pic_input value="Upload">Upload!</button>
</body>
</html>
